.Views {
  box-shadow: var(--shadow-image);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-block: 20px;
  max-width: 1000px;
  background-color: white;
}

.Views .search{
  width: max(25vw, 270px);
  display: flex;
  margin: 0 auto;
  padding: max(5px, .3vw) max(7px, .4vw);
  background-color: #d9d9d9;
  border: none;
  outline: none;
  border-radius: max(12px, .8vw);
  margin-bottom: max(30px);
}

.Views .title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: max(15px, 1vw);
  text-align: center;
  font-weight: 500;
  font-size: max(1.7vw, 27px);
}

.spinnerLoad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.spinner {
  width: max(1.3vw, 20px);
  height: max(1.3vw, 20px);
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.views-holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.Views .paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.friendNav{
  border-bottom: 1px solid rgb(213, 213, 213);
}
@media (min-width: 767px) {
  .Views {
    width: calc(100% - 20px);
  }
  .views-holder {
    grid-template-columns: 1fr 1fr;
  }

  .views-holder #bullet {
    border: 1px solid #333;
    border-radius: 10px;
  }
}

  