.About {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: var(--shadow-image);
  gap: 10px;
  padding: 10px 0;
  min-height: 40vh;
  width: 100%;
  max-width: 1000px;
  background-color: white;
}

.About .title {
  font-size: 20px;
  font-weight: bold;
  padding-inline: 20px;
}

.about-content {
  display: flex;
  padding-inline: 10px;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
  margin-bottom: 10px;
  min-height: calc(40vh - 45px);
}

.about-aside {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-aside a {
  padding: 5px 10px;
  border-radius: 10px;
  justify-self: flex-start;
}

.about-aside a:hover {
  background-color: #ccc;
}

.about-aside a[aria-current="page"] {
  background-color: lightblue;
}

@media (min-width: 520px) {
  .about-content {
    flex-direction: row;
  }
}

@media (min-width: 767px) {
  .About {
    width: calc(100% - 20px);
  }
  .about-aside {
    flex: 1;
  }

  .about-main {
    flex: 3;
  }
}
