.overview-bullet {
  padding: 5px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}

.overview-bullet .logo {
  width: 70px;
  overflow: hidden;
  background-color: #ccc;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  align-self: center;
  color: inherit;
  color: var(--color-primary-1);
  font-size: 20px;

}

.overview-bullet .logo img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.overview-bullet .edit {
  background-color: white;
}

.bullet-content {
  /* width: calc(100% - 80px); */
  margin: auto 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: max(5px, .3vw);
}
.bullet-content .blockContent{
  display: flex;
  gap: max(5px, .2vw);
}
.bullet-content span {
  font-size: 14px;
}

.border {
  border: 1px solid #aaa;
  border-radius: 10px;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: max(15px, 1vw) ;
  width: max(100px);

}
.overview-bullet .buttons button:nth-child(1) {
  background-color: #ADD8E6;
  color: #111;
}
.overview-bullet .buttons button:nth-child(2) {
  background-color: #DEE2E6;
}
.overview-bullet .buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: max(6vw, 70px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
  padding: max(10px, .4vw);
  border-radius: max(15px, 1vw);
}
.friendsButtons .unfriend{
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: max(8px, .4vw) max(22px, 1.4vw);
  border-radius: max(8px, .5vw);
  font-size: max(15px, .9vw);
  font-weight: 500;
  width: max(8vw, 70px);
  height: max(30px, 2vw);
}
.friendsButtons .button{
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: max(8px, .4vw) max(22px, 1.4vw);
  border-radius: max(8px, .5vw);
  font-size: max(15px, .9vw);
  font-weight: 500;
  width: max(8vw, 70px);
  height: max(30px, 2vw);
}
.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max(1.3vw, 20px);
  height: max(1.3vw, 20px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.friend{
  background-color: rgba(217, 217, 217, 1);
  padding: max(6px, .4vw) max(24px, 1.3vw);
  border-radius: max(8px, .4vw);
}

.smallText {
  font-size: max(9px, .6vw);
  color: rgba(85, 85, 85, 0.503);
}