.CreatePost {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  gap: 10px;
  box-shadow: var(--shadow-image);
  width: 100%;
  max-width: 720px;
}

.Content {
  display: flex;
  gap: 10px;
}

.CreatePost hr {
  color: black;
}

.Content textarea {
  resize: none;
  border: none;
  outline: none;
  height: 36px;
  width: calc(100% - 50px);
  max-height: 300px;
  display: flex;
  background-color: #eee;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  overflow: hidden;
}

.ChooseImg {
  border: 1px solid #ccc;
  width: 140px;
  color: black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.Actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  .CreatePost {
    background-color: var(--color-grey-dark-2);
  }
}
