.CreatePost {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  gap: 10px;
  width: 100%;
  max-width: 680px;
  background: var(--color-grey-light-1);
  box-shadow: var(--shadow-type-1);
}

.Content {
  display: flex;
  gap: 10px;
}

.CreatePost hr {
  color: black;
}

.Content textarea {
  resize: none;
  border: none;
  outline: none;
  height: 36px;
  width: calc(100% - 50px);
  max-height: 300px;
  display: flex;
  border-radius: 14.824px;
  background: rgba(232, 232, 232, 0.3);
  font-family: inherit;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  overflow: hidden;
}

.ChooseImg {
  border: 1px solid #ccc;
  width: 140px;
  color: black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.Actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

@media (min-width: 460px) {
  .CreatePost {
    border-radius: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  .CreatePost {
    background-color: var(--color-grey-dark-2);
  }
}
