.Edit {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.Edit textarea {
  height: 100%;
  border: none;
  font: inherit;
  resize: none;
}

.imageShower {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.imageHolder {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.imageHolder::-webkit-scrollbar {
  height: 3px;
}

.imageHolder .image {
  height: 100%;
  width: 100%;
  min-width: 200px;
  box-shadow: var(--shadow-image);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  /* margin-top: auto; */
}

.image span {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: grid;
  place-content: center;
  border-radius: 100%;
  width: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.image span:hover::after {
  content: "Remove";
  display: block;
  position: absolute;
  top: 32px;
  left: 0;
  transform: translateX(-35%);
  z-index: 1032;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.imageHolder .image img {
  height: 100%;
  border-radius: inherit;
  width: 100%;
  object-fit: contain;
}

@media (min-width: 567px) {
  .Edit {
    height: 83%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: unset;
  }

  .Edit textarea {
    border: none;
    font: inherit;
    resize: none;
    font-size: 16px;
    height: 20%;
    min-height: 100px;
    min-height: 80px;
    border-radius: 10px;
    overflow-y: auto;
    background-color: rgba(121, 121, 121, 0.1);
    margin-inline: 10px;
    padding: 10px;
    max-height: 400px;
  }
  .imageHolder .image {
    max-height: 400px;
  }

  .Edit textarea:focus,
  .Edit textarea:active {
    outline: none;
  }
}
