.ImageSlider {
  width: 100%;
}

.slider {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.arrow {
  position: absolute;
  top: 50%;
  border: 1px solid black;
  padding: 5px;
  font-size: 18px;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  left: 10px;
}

.arrow:nth-of-type(2) {
  left: unset;
  right: 10px;
}

.slider {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}

.image-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.post-content {
  height: auto;
  display: none;
  overflow-y: auto;
  border-radius: 16px;
  padding: 10px 15px;
}

@media (min-width: 560px) {
  .image-holder img {
    width: 50%;
  }
}

@media (min-width: 767px) {
  .post-content {
    display: unset;
  }
  .image-holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .ImageSlider {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
  }

  .slider {
    border-radius: 10px;
    width: 50vw;
  }
}
