.ImagePreviewer {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow-x: auto;
  width: 100%;
}

.ImagePreviewer::-webkit-scrollbar {
  height: 4px;
}

.ImageHolder {
  box-shadow: var(--shadow-image);
  border-radius: 10px;
  display: flex;
  position: relative;
}

.removeImage {
  position: absolute;
  cursor: pointer;
  top: 5%;
  right: 5%;
  width: 30px;
  aspect-ratio: 1/1;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ccc;
  border-radius: 9999px;
}

.ImagePreviewer img {
  aspect-ratio: 3/4;
  object-fit: contain;
  height: 100%;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
}
