.ContentHolder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ImageHolder {
  width: 100%;
  aspect-ratio: 9/16;
  max-height: 60vh;
  overflow: hidden;
}

.comments,
.shares {
  justify-self: flex-end;
}

.ImageHolder {
  aspect-ratio: 16/9;
  display: grid;
  gap: 5px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first second" "first third";
}

.ImageHolder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.first,
.second,
.third {
  cursor: pointer;
  overflow: hidden;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
  position: relative;
}

.overlay {
  position: absolute;
  grid-row: 2;
  grid-column: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-content: center;
  font-size: 12px;
}

.overlay svg {
  width: 53px;
  height: 53px;
  transform: translateX(30%);
}
.ImageHolderType2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.ImageHolderType1 {
  display: flex;
}

.ImageHolderType1 img,
.ImageHolderType2 img {
  width: 100%;
  height: 100%;
  max-height: 60vh;
  cursor: pointer;
  object-fit: contain;
}

.PostData {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  align-items: center;
}

.modalPostData {
  font-size: 14px;
}

.likesHolder,
.likesHolderType1 {
  padding: 5px 0px;
  align-items: center;
  flex: 1;
  font-size: 14px;
  display: none;
}

.likesHolderSmall {
  display: flex;
}

.likesHolder .logo {
  display: block;
  background-color: white;
  width: 26px;
  height: 26px;
  align-items: center;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.likesHolder .logo:nth-of-type(2) {
  transform: translateX(-50%);
}

.likesHolder .logo:nth-of-type(3) {
  transform: translateX(-100%);
}

.likesHolder .logo img {
  width: 90%;
  height: 90%;
  border-radius: inherit;
  object-fit: cover;
}

.likesHolder .likes {
  flex: 1;
  width: 100%;
}

.PostData .commentsAndShare {
  display: flex;
  gap: 5px;
}

.modalPostData .commentsAndShare {
  display: none;
}

.likesHolder p {
  transform: translateX(-20px);
}

.modalPostData .likesHolder p {
  width: 80%;
}

@media (min-width: 440px) {
  .overlay {
    font-size: 14px;
  }
  .overlay svg {
    width: 63px;
    height: 63px;
  }

  .likesHolder {
    display: flex;
  }

  .likesHolderSmall {
    display: none;
  }

  .likesHolderType1 {
    display: flex;
  }
}
@media (min-width: 767px) {
  .overlay svg {
    width: 83px;
    height: 83px;
    transform: translateX(25%);
  }
  .overlay {
    font-size: 16px;
  }
}

@media (min-width: 1285px) {
  .modalPostData .commentsAndShare {
    display: flex;
    gap: 10px;
  }
}
