.ContentHolder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ImageHolder {
  width: 100%;
  aspect-ratio: 9/16;
  background-color: rgba(0, 0, 0, 0.1);
  max-height: 60vh;
  overflow: hidden;
}

.ImageHolder img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.PostData {
  display: flex;
  width: 100%;
  gap: 10px;
}

.likes {
  justify-self: flex-start;
  flex: 1;
}

.comments,
.shares {
  justify-self: flex-end;
}

@media (min-width: 767px) {
  .ImageHolder {
    aspect-ratio: 16/9;
  }
}
