.ContentHolder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ImageHolder {
  width: 100%;
  aspect-ratio: 16/9;
}

.ImageHolder img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.PostData {
  display: flex;
  width: 100%;
  gap: 10px;
}

.likes {
  justify-self: flex-start;
  flex: 1;
}

.comments,
.shares {
  justify-self: flex-end;
}
