.SinglePost {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  min-width: 200px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
