.SinglePost {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  padding: 20px;
  border-radius: 10px;
  background: whitesmoke;
}

.SinglePostModal {
  box-shadow: none;
  background-color: unset;
  padding: 0;
  border-radius: unset;
}

@media (prefers-color-scheme: dark) {
  .SinglePost {
    background-color: var(--color-grey-dark-2);
    /* box-shadow: rgba(200, 200, 200, 0.2) 0px 2px 8px 0px; */
  }
}
