.SingleComment {
  display: flex;
  gap: 10px;
}

.CommentContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Actions button {
  background-color: transparent;
  border: none;
}

.Actions button.liked,
.Actions button:hover {
  color: rgb(5, 5, 109);
  font-weight: 500;
}

.CommentSection {
  border-radius: 26px;
  padding: 5px 15px;
  background: rgba(123, 123, 123, 0.1);
}

.name-and-edit {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-and-edit span {
  font-size: 18px;
  cursor: pointer;
}

.CommentContent img {
  align-self: start;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.Actions {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.Actions span:hover {
  color: black;
  text-decoration: underline;
}

.ReplyLabel {
  display: block;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
}
