.WritePostComment {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 10px 0;
}

.UserPhoto {
  display: flex;
  align-items: center;
}

.Comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: max-content;
  width: 100%;
  border-radius: 28px;
  background-color: #eee;
  overflow: hidden;
}

.Comment img {
  width: 26px;
}

.Comment:focus-within {
  background-color: #cccccc;
}

.Comment textarea {
  resize: none;
  width: 100%;
  /* min-width: max-content; */
  height: 38px;
  display: flex;
  align-items: center;
  place-content: center;
  padding: 10px;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: inherit;
  background-color: transparent;
  padding: 10px 20px;
}

.Comment textarea:placeholder-shown {
  letter-spacing: 0.5px;
}

.Comment textarea:focus {
  width: 100%;
  flex: 1;
}

.Comment button {
  cursor: pointer;
  /* background-color: transparent; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  border: none;
  border-left: 1px solid #ccc;
  color: #ccc;
  /* border-radius: inherit; */
  padding: 0;
  transition: all 0.2s ease;
}

.Comment button:hover {
  background-color: #ccc;
  /* font-size: 16px; */
}
