.container{
  display: flex;
  justify-content: space-between;
}

.friends{
  display: flex;
  flex-direction: column; 
  gap: 15px;
}
.spinner {
    width: max(1.3vw, 20px);
    height: max(1.3vw, 20px);
    animation: spin 1s linear infinite;
}
.button{
    height: max(30px, 1.8vw);
    width: max(90px, 5vw);
}
.button span{
    width: 100%;
}  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }