.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.photo {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 50%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(3px);
  z-index: 0;
  transform: scale(1.1);
  background-position: center center;
  pointer-events: none;
}

.formData {
  z-index: 1;
  margin-top: auto;
  width: 100%;
  margin-bottom: auto;
  background-color: transparent;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footerSection {
  display: flex;
  flex-direction: column;
}

.quote {
  display: none;
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.error-message {
  color: red;
}
.topData {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: max(10px, 0.5vw);
  margin-bottom: 20px;
}
.navlink {
  text-decoration: underline;
}
.topData h2 {
  font-size: max(36px, 2.3vw);
  font-weight: 600;
  color: #8487ff;
}
.topData p {
  white-space: nowrap;
  font-size: max(13px, 0.85vw);
  font-weight: 500;
}
.topData p a {
  text-decoration: underline;
  color: #8487ff;
  margin-left: max(7px, 0.4vw);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  max-width: 340px;
}

.form p {
  color: white;
  text-align: center;
}

.form a {
  color: #8487ff;
}
.container form div p {
  font-size: max(12px, 0.75vw);
  color: rgb(166, 36, 36);
  font-weight: 500;
  margin-left: max(10px, 0.5vw);
  max-width: 250px;
}
.icon {
  height: max(1vw, 15px);
  width: max(1vw, 15px);
  color: #5f5f5f;
  display: flex;
  align-items: center;
  justify-self: center;
}
.blockInput {
  display: flex;
  gap: max(10px, 0.6vw);
}
.blockInput select {
  padding: max(10px, 0.5vw);
  outline: none;
  border: none;
  border-radius: max(14px, 0.9vw);
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: max(12px, 0.8vw);
  border: 2px solid #5f5f5f;
  width: 100%;
}
.button {
  width: 100%;
  border-radius: max(14px, 0.9vw);
  padding: max(10px, 0.5vw);
  background-color: #8487ff;
  margin-bottom: 20px;
  color: #fff;
  outline: none;
  border: none;
  font-size: max(13px, 0.85vw);
  cursor: pointer;
}
.button:focus {
  background-color: #6b6efe;
}

@media (min-width: 440px) {
  .form {
    width: 75%;
  }
}

@media (min-width: 500px) {
  .form {
    width: 65%;
  }
}

@media (min-width: 767px) {
  .container {
    flex-direction: row;
  }
  .photo {
    filter: blur(0);
    width: 100%;
    background: url("https://images.unsplash.com/photo-1515378960530-7c0da6231fb1?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      center center;
    /* background-size: cover; */
  }

  .formData {
    width: 50%;
    background-color: white;
    height: 100%;
  }

  .footerSection {
    padding: 40px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    align-items: flex-end;
    z-index: 10;
    gap: 20px;
    align-self: baseline;
  }

  .form {
    width: 80%;
  }

  .form p {
    color: black;
  }

  .quote {
    display: block;
  }
}

@media (min-width: 1000px) {
  .formData {
    width: 40%;
  }

  .form {
    width: 80%;
  }

  .footerSection {
    width: 60%;
  }
}

@media (min-width: 1285px) {
  .formData {
    width: 40%;
  }

  .form {
    width: 60%;
  }
  .footerSection {
    width: 60%;
  }
}
