.Profile {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20px;
}

.profile-header {
  height: 45vh;
  width: 100%;
  background-color: var(--color-grey-light-1);
}

.cover {
  height: 100%;
  position: relative;
  max-width: 1150px;
  width: 100vw;
  margin: 0 auto;
  background-color: rgb(16, 151, 151);
}

.profile-pic {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 150px;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 100%;
  background-color: white;
}

.cover {
  display: flex;
  justify-content: flex-end;
}

.profile-pic span {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: inherit;
  background-color: palevioletred;
}

.profile-info {
  padding-top: 80px;
  width: 100%;
  background-color: var(--color-grey-light-1);
}

.info-width-controller {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-inline: auto;
  text-align: center;
  justify-content: center;
  max-width: 1150px;
  width: 100%;
  display: flex;
}

.actions {
  display: flex;
  gap: 10px;
  align-self: center;
}


.actions button {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}

.actions button:first-of-type {
  background-color: lightblue;
  border: 1px solid lightblue;
}

.buttons {
  display: flex;
  gap: max(10px, .4vw);
}
.buttons .acceptButton{
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}
.buttons .rejectButton{
  padding: 5px 10px;
  background-color: #DEE2E6;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}

.content-options {
  width: 100%;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-4);
}

.navlink-holder {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.content-options a {
  padding: 10px;
}

.content-options a[aria-current="page"] {
  border-bottom: 2px solid rgb(28, 135, 171);
}

.profile-outlet {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 520px) {
  .navlink-holder {
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .Profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cover {
    transform: translateX(-10px);
  }

  .profile-pic {
    left: 0;
    bottom: 0;
    transform: translate(25%, 50%);
  }

  .profile-info {
    margin-inline: unset;
    padding-top: 10px;
    text-align: unset;
  }

  .info-width-controller {
    align-items: flex-start;
    padding-left: 200px;
  }

  .actions {
    align-self: flex-start;
  }

  .profile-header {
    margin: 0 auto;
  }

  .navlink-holder {
    justify-content: flex-start;
  }
}

.spinner {
  width: max(1vw, 15px);
  height: max(1vw, 15px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 1000px) {
  .cover {
    transform: translateX(0);
  }

  .profile-outlet {
    align-items: center;
  }
}

@media (min-width: 1150px) {
  .cover {
    border-radius: 0 0 20px 20px;
  }
}
