.Profile {
  grid-column: 1 / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: -20px;
}

.profile-header {
  height: 45vh;
  width: 100%;
  background-color: var(--color-grey-light-1);
}

.cover {
  height: 100%;
  position: relative;
  max-width: 1150px;
  /* width: 100vw;  */
  margin: 0 auto;
  background-color: rgb(16, 151, 151);
}

.profile-pic {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: white;
}
.profile-pic img {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  inset: 5px;
  border-radius: 100%;
  object-fit: cover;
}

.profile-photo-uploader,
.cover-photo-uploader {
  position: absolute;
  top: 75%;
  background-color: gainsboro;
  border: 3px solid white;
  padding: 5px;
  border-radius: 100%;
  width: 35px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  right: 10%;
  cursor: pointer;
}

.profile-photo-uploader input,
.cover-photo-uploader input {
  display: none;
}

.cover-photo-uploader {
  bottom: 20px;
  right: 20px;
  padding: 10px;
  top: unset;
  aspect-ratio: unset;
  width: auto;
  font-size: 18px;
  background-color: gainsboro;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  /* height: 40px; */
}

.cover {
  display: flex;
  justify-content: flex-end;
}

.profile-pic span {
  /* height: 100%;
  width: 100%;
  display: block;
  border-radius: inherit;
  background-color: palevioletred; */
}

.profile-info {
  padding-top: 80px;
  width: 100%;
  background-color: var(--color-grey-light-1);
  /* border: 2px solid red; */
}

.info-width-controller {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-inline: auto;
  text-align: center;
  justify-content: center;
  max-width: 1150px;
  width: 100%;
  display: flex;
  /* border: 2px solid red; */
}
.profileData {
  display: flex;
  gap: max(20px, 1.2vw);
  max-width: 1150px;
  /* border: 2px solid red; */
  gap: 15px;
  margin-inline: auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  margin-top: max(2.4vw, 40px);
  padding-left: 10px;
}
.friendsData {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: max(6px, 0.3vw);
  /* border: 2px solid red; */
  color: rgba(0, 0, 0, 0.33);
  font-size: max(12px, 0.8vw);
  font-weight: 500;
}
.friendsNum {
  color: #111;
}

.actions {
  display: flex;
  gap: 10px;
  align-self: center;
}

.actions button {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}

.actions button:first-of-type {
  background-color: lightblue;
  border: 1px solid lightblue;
}

.buttons {
  display: flex;
  gap: max(10px, 0.4vw);
}
.buttons .acceptButton {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}
.buttons .rejectButton {
  padding: 5px 10px;
  background-color: #dee2e6;
  border-radius: 15px;
  width: max(8vw, 120px);
  height: max(30px, 2vw);
  border: none;
  outline: none;
}

.content-options {
  width: 100%;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-4);
  padding-top: max(20px);
}

.navlink-holder {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--color-grey-light-1);
  display: flex;
  justify-content: space-evenly;
}

.content-options a {
  padding: max(0.3vw, 5px) max(0.7vw, 10px);
  font-size: max(14px, 0.9vw);
  font-weight: 500;
  color: rgba(85, 85, 85, 0.33);
}

.content-options a[aria-current="page"] {
  border-bottom: 2px solid #111;
  color: #111;
}

.profile-outlet {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 767px) {
  .profileData {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0;
  }
}

@media (min-width: 520px) {
  .navlink-holder {
    justify-content: center;
    gap: 10px;
  }
}

@media (min-width: 767px) {
  .Profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .cover {
    /* transform: translateX(-10px); */
  }

  .profile-pic {
    left: 0;
    bottom: 0;
    transform: translate(25%, 50%);
  }

  .profile-info {
    margin-inline: unset;
    padding-top: 10px;
    text-align: unset;
  }

  .info-width-controller {
    align-items: flex-start;
    padding-left: 200px;
  }

  .actions {
    align-self: flex-start;
  }

  .profile-header {
    margin: 0 auto;
  }

  .navlink-holder {
    justify-content: flex-start;
  }

  .profile-outlet {
    padding: 0 10px;
  }
}

.spinner {
  width: max(1vw, 15px);
  height: max(1vw, 15px);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1000px) {
  .cover {
    /* transform: translateX(0); */
    /* width: 100vw; */
  }

  .profile-outlet {
    align-items: center;
  }
}

@media (min-width: 1150px) {
  .cover {
    border-radius: 0 0 20px 20px;
  }
}


@media (max-width: 767px) {

  .navlink-holder {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--color-grey-light-1);
    display: flex;
    padding-bottom: 10px;
    justify-content: space-evenly;
    overflow-x: auto; 
    scrollbar-width: thin;
    scrollbar-color: #acacac transparent;
  }

  .navlink-holder::-webkit-scrollbar-thumb {
    background-color: #76919a; 
  }

  .navlink-holder::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  .content-options a {
    white-space: nowrap; 
  }

  /* .content-options a[aria-current="page"] {
    border-bottom: 2px solid #111;
    color: #111;
  } */
}