.search {
  width: 40px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row-reverse;
  background-color: white;
  height: 40px;
  gap: 5px;
  padding: 10px 10px;
  color: inherit;
  border: 1px solid var(--color-primary-1);
  transition: width 0.2s ease;
}

.search:focus-within {
  width: 100%;
}

.search input {
  outline: none;
  border: none;
  display: flex;
  width: calc(100% - 25px);
  background-color: transparent;
  color: black;
  color: var(--color-primary-1);
}

.search svg {
  color: var(--color-primary-1);
}

.search input::placeholder {
  color: black;
}

.search span {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  font-size: 24px;
  font-weight: bold;
  place-content: center;
}

.searchInput {
  position: relative;
  border-radius: 20px;
  display: flex;
  font-size: 20px;
  padding: 10px;
  height: 40px;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.searchUl {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: calc(65px * 6);
  overflow-y: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.searchLi {
  padding-left: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 65px;
  gap: 15px;
}

.searchLi img {
  border-radius: 500px;
  width: 56px;
}

.userFullName {
  color: black;
  font-size: 20px;
}

@media (min-width: 540px) {
  .search {
    width: 200px;
  }

  .search:focus-within {
    width: 250px;
  }
}

@media (min-width: 1000px) {
  .search {
    width: 300px;
  }

  .search:focus-within {
    width: 390px;
  }
}
