/* Check if the style is implemented to all buttons                   ---- Check app/components */
/* Colors/Background-color/font/size will be up to date with design   ---- Check design */
.like,
.comment,
.share {
    background-color: #C5C5C5;
    font-size: 14px;
    height: 26px;
    border: none;
    border-radius: 500px;
    color: #000000;
    cursor: pointer;
}

.like .innerContent svg,
.comment .innerContent svg{
    width: 20px;
    height: 20px;
}

.share .innerContent svg{
    width: 24px;
    height: 24px;
}

.postPosition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

.innerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #213547;
}

.innerContent p {
  padding-left: 3px;
}

.dislike{
    background-color: #959595;
    font-size: 14px;
    border: none;
    border-radius: 500px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 26px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000000;
    cursor: pointer;
}

.post {
    height: 36px;
    background-color: #4169E1;
    border: none;
    color: #000000;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    width: 130px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000000;
}

.upload {
    align-self: stretch;
    height: 36px;
    background-color: #C5C5C5;
    color: #000000;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.uploadSvg {
    width: 24px;
    height: 24px;
}

/* === Hover & Active === */

.like:hover,
.comment:hover,
.share:hover,
.upload:hover,
.dislike:hover {
    background-color: #ADADAD;
}

.post:hover {
    background-color: #3556B7;
}

.like:active, .dislike:active, .comment:active, .share:active, .upload:active {
    background-color: #9E9E9E;
}

.post:active {
    background-color: #2C4A9B;
}