/* Check if the style is implemented to all buttons                   ---- Check app/components */
/* Colors/Background-color/font/size will be up to date with design   ---- Check design */
.like,
.comment,
.share {
  border-radius: 9.49px;
  background: rgba(232, 232, 232, 0.4);
  font-size: 14px;
  height: 26px;
  padding: 4px 8px;
  border: none;
  border-radius: 500px;
  color: #000000;
  cursor: pointer;
}

.like .innerContent svg,
.comment .innerContent svg {
  width: 20px;
  height: 20px;
}

.share .innerContent svg {
  width: 24px;
  height: 24px;
}

.postPosition {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

.innerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #213547;
}

.innerContent p {
  padding-left: 3px;
}

.dislike {
  background-color: #959595;
  font-size: 14px;
  border: none;
  border-radius: 500px;
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #000000;
  cursor: pointer;
}

.post {
  height: 36px;
  background-color: var(--color-primary-1);
  box-shadow: var(--shadow-type-6);
  border: none;
  color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 130px;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.upload {
  align-self: stretch;
  position: relative;
  height: 36px;
  background-color: #c5c5c5;
  color: #000000;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(232, 232, 232, 0.4);
  color: var(--color-primary-1);
}

.uploadSvg {
  width: 24px;
  height: 24px;
  color: var(--color-primary-1);
}

/* === Hover & Active === */

.like:hover,
.comment:hover,
.share:hover,
.upload:hover,
.dislike:hover {
  background-color: #adadad;
  background: rgba(232, 232, 232, 0.8);
}

.post:hover {
  background-color: #0d1a25;
}

.like:active,
.dislike:active,
.comment:active,
.share:active,
.upload:active {
  /* background-color: #9e9e9e; */
}

.post:active {
  /* background-color: #2c4a9b; */
}
