.footerList {
  display: flex;
  font-size: 16px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  color: white;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 20px;
}
