.Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(121, 121, 121, 0.3);
}

.navigation-left {
  display: flex;
}

.navigation-left .logo-route {
  display: none;
}

.navigation-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-main svg {
  width: 20px;
}

.navlink-holder {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navigation-right {
  display: flex;
  align-items: center;
}

.notifications-icon {
  position: relative;
}
