.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Set a high z-index to ensure it appears on top */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-images {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  scroll-behavior: smooth;
}

.modal-images img {
  max-width: 100%;
  height: auto;
  flex: 0 0 auto; /* Ensure images do not shrink to fit */
}

.scroll-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}