.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.profile {
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.3);
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 10px;
  height: 80px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}

.routing-options {
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.3);
}

.route-holder {
  font-size: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 5px 10px;
}

.route-holder:hover {
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.8);
}

.route-logo {
  width: 25px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
}

.route-feed svg {
  color: #e33629;
  width: 25px;
}

.route-friends svg {
  color: #63c3eb;
  width: 25px;
}

.route-profile svg {
}

.route-market svg {
}

@media (min-width: 1000px) {
  .route-holder {
    font-size: 18px;
  }
}
