.Sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;
}

.profile {
  background-color: #ccc;
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  height: 80px;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: stretch;
}

.routing-options {
  background-color: #ccc;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.route-holder {
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.route-logo {
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #777;
  border-radius: 16px;
  display: grid;
  place-content: center;
}
