.UserChip img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.UserChip {
  /* border-radius: 9999px; */
  border-radius: 100%;
  /* aspect-ratio: 1/1; */
  width: 40px;
  height: 40px;
  font-size: 46px;
  color: inherit;

  color: var(--color-primary-1);
  cursor: pointer;
  box-shadow: var(--shadow-type-6);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.UserChip svg {
  transform: scale(1.1);
}
