.Friends {
  box-shadow: var(--shadow-image);
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin-block: 20px;
  max-width: 1000px;
  background-color: white;
}

.Friends .title {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.Friends .searchInput{
  width: max(25vw, 200px);
  display: flex;
  align-items: center;
  gap: max(5px, .3vw);
  margin: 0 auto;
  padding: max(5px, .3vw) max(7px, .4vw);
  background-color: #d9d9d9;
  border-radius: max(12px, .8vw);
  margin-bottom: max(30px);
}
.Friends label{
  display: flex;
  align-items: center;
  color: #858585;
  padding-left: max(5px, .3vw);
}
.Friends .search{
  width: 100%;
  border: none;
  outline: none;
  background-color: #d9d9d9;

}

.friends-holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.paragraph{
  color: grey;
  margin: 10px auto;
  text-align: center;
}
.spinnerLoad{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.spinner {
  width: max(1.3vw, 20px);
  height: max(1.3vw, 20px);
  animation: spin 1s linear infinite;
}
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.Friends .navLink {
  display: block;
  width: 80%;
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: rgb(94, 89, 250);
  color: white;
  text-align: center;
  max-width: 150px;
}

@media (min-width: 767px) {
  .Friends {
    width: calc(100% - 20px);
  }
  .friends-holder {
    grid-template-columns: 1fr 1fr;
  }

  .friends-holder #bullet {
    border: 1px solid #333;
    border-radius: 10px;
  }
}
