.Requests {
    box-shadow: var(--shadow-image);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin-block: 20px;
    max-width: 1000px;
    background-color: white;
  }
  
  .Requests .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  .Requests .search{
    width: max(25vw, 270px);
    display: flex;
    margin: 0 auto;
    padding: max(5px, .3vw) max(7px, .4vw);
    background-color: #d9d9d9;
    border: none;
    outline: none;
    border-radius: max(12px, .8vw);
    margin-bottom: max(30px);
  }
  
  .request-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: max(10px, .5vw);
  }
  .paragraph{
    color: grey;
    margin: 10px auto;
    text-align: center;
  }
  .Requests .navLink {
    display: block;
    width: 80%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(94, 89, 250);
    color: white;
    text-align: center;
    max-width: 150px;
  }
  
  @media (min-width: 767px) {
    .Requests {
      width: calc(100% - 20px);
    }
    .friends-holder {
      grid-template-columns: 1fr 1fr;
    }
  
    .friends-holder #bullet {
      border: 1px solid #333;
      border-radius: 10px;
    }
  }
  