.Notifications {
  display: none;
}

@media (min-width: 767px) {
  .Notifications {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    z-index: 40;
    padding: 0 0 0 0;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    display: none;
    max-height: 80vh;
    overflow: hidden;
    box-shadow: var(--shadow-image);
  }
  .notifications-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    position: sticky;
    padding: 10px 20px;
    border-bottom: 1px solid var(--color-grey-light-5);
    background-color: white;
    z-index: 10;
    top: 0;
  }

  .notifications-actions .clear {
    color: var(--color-danger);
    cursor: pointer;
  }
  .notifications-actions .markRead {
    color: var(--color-primary-1);
    cursor: pointer;
  }

  .notifications {
    height: calc(100% - 60px);
    overflow-y: auto;
  }

  .showNotifications {
    display: flex;
    cursor: default;
  }

  .footer {
    display: flex;
    padding: 5px 10px;
    justify-content: flex-end;
    border-top: 1px solid var(--color-grey-light-5);
  }

  .footer a {
    text-decoration: underline;
  }
}
