.Single-Notification {
  display: flex;
  padding: 10px;
  padding-left: 20px;
  gap: 10px;
  position: relative;
  cursor: pointer;
  align-items: center;
  height: 80px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--color-grey-light-5);
}

.Single-Notification:last-of-type {
  border-bottom: none;
}

.Single-Notification:hover {
  background-color: var(--color-grey-light-2);
}

.Single-Notification span {
  position: absolute;
  width: 7px;
  height: 7px;
  left: 6px;
  /* display: block; */
  border-radius: 100%;
  background-color: var(--color-primary-1);
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width: calc(100% - 50px);
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button {
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid;
  color: white;
  font: inherit;
  font-size: 14px;
}

.button:nth-of-type(1) {
  border-color: var(--color-grey-light-5);
  color: var(--color-primary-1);
  background-color: var(--color-grey-light-2);
}
.button:nth-of-type(2) {
  background-color: var(--color-primary-1);
  border: var(--color-primary-1);
}
