@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto&display=swap');
.App {
  width: 100%;
  padding: 10px;
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

@media (prefers-color-scheme: dark) {
  .App {
    background-color: var(--color-grey-dark-1);
  }

  body {
    color: var(--color-grey-light-1);
  }
}
