@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Pacifico&family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* set up the colors of project, those are not the actual colors of our project */
  --color-primary: red;
  --color-primary-light: blue;
  --color-primary-dark: green;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: -#ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  /* set up any shadow we will use  */

  --shadow-image: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* here we setup breakpoints for media queries, those are not the real values */
  --breakpoint-notepad: 800px;
  --breakpoint-phone: 500px;
  color: #213547;
  background-color: #eee;
  scroll-behavior: smooth;
}

#portal {
  overflow: hidden;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-grey-light-1);
  }
}

@media (min-width: 767px) {
  :root {
    font-size: 100%;
  }
}

a,
a.active,
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
