.Modal {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  padding: 0px;

  display: grid;
  place-content: center;
}

.modal-content-edit {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 10px;
  h3 {
    display: none;
  }
}

.modal-header-user-holder {
  display: flex;
  align-items: center;
}

.modal-content-edit .close {
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 100%;
  width: 29px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border: none;
  justify-self: flex-end;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 101;
}

.modal-content-show-post .close {
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 100%;
  width: 29px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  border: none;
  justify-self: flex-end;
  margin-left: auto;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 101;
}

.modal-content-edit .modal-main {
  height: 89%;
  padding-block: 20px;
}

.Modal .modal-actions {
  display: flex;
  justify-content: center;
  height: 5%;
}

.Modal .save {
  min-width: 150px;
  background-color: var(--color-primary-1);
  border-radius: 10px;
  color: white;
  border: none;
  text-transform: uppercase;
  font: inherit;
}

.Modal .save:disabled {
  background-color: rgb(184, 178, 178);
  cursor: not-allowed;
}

@media (min-width: 567px) {
  .Modal {
    padding: 40px;
    h3 {
      display: unset;
    }
  }
  /* STYLING FOR EDIT POST */
  .modal-content-edit {
    height: auto;
    width: auto;
    min-height: 200px;
    min-width: 500px;
    max-width: 850px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 10px;
  }

  .modal-content-edit .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-content-edit .modal-main {
    height: auto;
    max-height: 60vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }

  .modal-content-edit-no-img .modal-main {
    height: auto;
  }

  .Modal .modal-actions {
    min-height: 30px;
    display: flex;
    justify-content: center;
  }

  .Modal .close {
    /* position: relative; */
    background-color: rgba(0, 0, 0, 0.2);
    /* inset: unset; */
  }

  .modal-header .modal-header-user-holder {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
  }

  .modal-header-user-holder p {
    font-weight: 500;
  }

  .modal-header h3 {
    flex: 1;
  }

  .modal-content-edit .close {
    margin-left: auto;
  }
  /* STYLING FOR SHOW FULL POST */
  .modal-content-show-post {
    background-color: white;
    height: 100%;
    max-height: 85vh;
    position: relative;
    border-radius: 16px;
    width: 100%;
    max-width: 1200px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

@media (min-width: 767px) {
  .modal-content-show-post .modal-main {
    height: calc(85vh - 100px);
  }
}
